engine-strict=true
# disable public-hoist-pattern entirely to avoid phantom dependencies
public-hoist-pattern[]=
# workspace-concurrency=0 will use amount of cores of the host to run tasks concurrently (see https://pnpm.io/cli/recursive#--workspace-concurrency)
workspace-concurrency=0
# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=true
